	*{
		box-sizing:border-box;
	}
	h1{
		font-family:Muli, sans-serif;
		font-size: 1.5em;
		color: #CC0;
	}
	h2{
		font-family:Muli, sans-serif;
		font-size: 1.2em;
		color: #CC0;
	}
	
	#wrapper{
		width:960px;
		margin-left:auto;
		margin-right:auto;
		background-color: #fff;
	}
	#banner{
		height:80px;
		width:960px;
		background-color:#cc0;
		margin:0px;
	}
	#otsikko_vasen{
		height:80px;
		width:280px;
		position:relative;
		top:0px;
		left:0px;
		border-right-width:6px;
		border-right-style:solid;
		border-right-color:#fff;

				
	}
	#otsikko_vasen_rivi1{
		position:absolute;
		top:-30px;
		width:100px;
		right:40px;
		font-family:Chathura, sans-serif;
		color:#fff;
		font-size: 4.2em;
			
	}
	#otsikko_vasen_rivi2{
		position:absolute;
		top:0px;
		width:100px;
		right:40px;
		font-family:Chathura, sans-serif;
		color:#fff;
		font-size: 4.2em;
			
	}

	#otsikkoteksti{
		height:80px;
		width:660px;
		position:relative;
		top:-85px;
		left:280px;
		padding: 0.5em;
		font-family:Chathura, sans-serif;
		font-size: 1.75em;
		line-height: 75%;
		color:#fff;
	}
	#sidebar{
		float: left;		
		width:200px;
		height:400px;
		margin-top:1em;
		margin-left:80px;

		border-right-width:1px;
		border-right-style:solid;
		border-right-color:#CC0;
		background-color:#fff;
		font-family:Lato, sans-serif;
		font-size: 1em;
	}
	
	#nostolaatikko{
		float: right;		
		width:200px;
		margin-left:10px;
		padding-left:0.5em;
		padding-top:0.2em;
		padding-bottom:0.2em;
		border-left-width:0.2em;
		border-left-style:solid;
		border-left-color:#CC0;
		background-color:#fff;
		font-family:Rajdhani, sans-serif;
		font-size: 1.5em;
		color:#cc0;
	}
	
	
	#main{
		width:560px;
		margin-left:290px;
		background-color:#fff;
		font-family:Lato, sans-serif;
		font-size: 1em;
		padding:0.5px;
	}

	#footer{
		background-color:#cc0;
		width: 780px;
		height:80px;
		margin-left:80px;
		clear:both;
	}