	#wrapper{
		width:960px;
		margin-left:auto;
		margin-right:auto;
		background-color: orange;
	}
	#banner{
		height:80px;
		background-color:#cc0;
	}
	#sidebar{
		float: left;		
		width:220px;
		height:200px;
		background-color:orange;
	}
	#main{
		height:300px;
		margin-left:220px;
		margin-left:220px;
		background-color:#ddd;
	}
	#footer{
		background-color:#cc0;
		height:80px;
	}